<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <h1>Restaurant Reviewer</h1>

            <form class="" action="/" method="post">
                <label for="">Add a new Cuisine</label>
                <input type="text" name="new_cuisine" required>
                <button type="submit" name="button">Add</button>
            </form>
            <div class="result">
                {% if cuisines %}
                    <h2> Select a Cuisine</h2>
                    <ul>
                        {% for cuisine in cuisines %}
                            <a href="/cuisine/{{ cuisine.getId }}"><li> {{ cuisine.getName }} </li></a>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </body>
</html>
