<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#homeNav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href='/'><img class='navbar-brand' src='../img/rice.png'></a>
                  <a class="navbar-brand" href="/"> RELP</a>
                </div>

                <div class="collapse navbar-collapse" id="homeNav">
                  <form action="/search_results" method="post" class="navbar-form navbar-right">
                      <div class='form-group'>
                          <input type="text" name="search_term" class='form-control' placeholder='Search...' required>
                      </div>
                      <button type="submit" class='btn btn-primary'>Search</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuisines <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for cuisine in cuisines %}
                              <li><a href="/cuisine/{{ cuisine.getId }}"> {{ cuisine.getName }}</a></li>
                          {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li><a href="/">Add a new cuisine</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <div class='jumbotron'>
                <div class='title'>
                    <h1>WELCOME TO RELP</h1>
                    <h3>Get started by choosing an option below</h3>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-4'>
                    <form action="/search_results" method="post" class='form-inline'>
                        <h3>Search for a restaurant</h3>
                        <div class='form-group'>
                            <input type="text" name="search_term" class='form-control' placeholder='Search...' required>
                        </div>
                        <button type="submit" class='btn btn-primary'>Search</button>
                    </form>
                </div>
                <div class='col-md-4'>
                    <div class="result">
                        {% if cuisines %}
                            <h3> Select a Cuisine</h3>
                            <ul>
                                {% for cuisine in cuisines %}
                                    <a href="/cuisine/{{ cuisine.getId }}"><li> {{ cuisine.getName }} </li></a>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class='col-md-4'>
                    <form action="/" method="post" class='form-inline '>
                        <h3>Add a new Cuisine</h3>
                        <div class='form-group'>
                            <input type="text" name="new_cuisine" class='form-control' placeholder='Cuisine...' required>
                        </div>
                        <button type="submit" class='btn btn-primary'>Add</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
